.fourthView {
	padding-top: 50px;
		min-height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items:  center;
		background-color: var(--dark-blue);
		color: var(--off-white);

		>h2 {
			margin-bottom: 100px;
		}
		
		.cardsWrapper {
			display: flex;
			gap: 20px;
			@media (max-width: 1100px) {
				flex-direction: column;
			}

			.card {
				height: 60vh;
				width:30vw;
				background-color: var(--off-white);
				border-radius: 20px;
				border: 3px solid var(--blue);
				color: var(--dark-blue);
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				
				@media (max-width: 1100px) {
					height: 40vh;
					width: 80vw;
				}
	
				h2:nth-child(2) {
					text-shadow: 4px 3px 0px rgb(20, 255, 20);
					text-decoration: underline;
					font-size: 3rem;
					@media (min-width: 800px) {
						font-size: 5rem;
					}
				}
			}
		}
}