.secondView {
	min-height: 100vh;
	background-color: var(--off-white);
	padding: 70px 20px;	
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
	align-items:  center;
	h2 {
		color: var(--dark-blue);
	}
	@media (min-width: 1150px) {
		padding: 70px 150px;	
	}
	@media (min-width: 1550px) {
		padding: 70px 300px;	
	}
	.cardsWrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: stretch;
		width: 100%;
		flex-wrap: wrap;
		gap: 50px;
		.card {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			p {
				font-size: 1.2rem;
				font-weight: 600;
			}
		}
	}
}