.checkedWrapper {
	display: flex;
	gap: 5px;
	align-items: left;
	
	p {
		color: var(--dark-blue);
		font-weight: 700;
		letter-spacing: 2.2px;
		text-align: left;
	}
	svg {
		min-width: 5rem;
		margin-top: 5px;
	}
}