.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1300px;
    height: 100vh;
    .header {
        .wideHeader {
            display: none;
        }

        .smallHeader {
            display: flex;
            width: 100%;
            height: 10%;
            justify-content: flex-end;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .presentation {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 60%;

                .title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: var(--dark-blue);
                    margin-bottom: 1rem;
                }
    
                .subtitle {
                    font-size: 1rem;
                    font-weight: 400;
                    color: #848484;
                    margin-bottom: 1rem;
                }
            }


            .button {
                width: 10rem;
                height: 3rem;
                background-color: #000000;
                color: var(--off-white);
                border: none;
                border-radius: 0.5rem;
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }
        }

        .circleImage {
            display: none;
        }
        .phImage {
                display: none;
            }
    }

    @media screen and (min-width: 768px) {
        .header {
            width: 100vw;
            height: 10%;
            .wideHeader {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .active {
                    text-decoration: underline var(--blue);
                }
            }
            
            .smallHeader {
                display: none;
            }
        }
    
        .body {
            .presentation {
                flex-direction: row;
                justify-content: flex-start;
                margin-left: 10%;                
                
                .smallImage {
                    display: none;
                }

                .text {
                    flex-direction: column;
                    align-items: flex-start;
    
                    .title {
                        font-size: 2rem;
                        font-weight: 700;
                        color: var(--dark-blue);
                        margin-bottom: 1rem;
                    }
        
                    .subtitle {
                        text-align: left;
                        width: 60%;
                    }
                }
    
    
                .button {
                    width: 10rem;
                    height: 3rem;
                    background-color: #000000;
                    color: var(--off-white);
                    border: none;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    font-weight: 700;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover {
                        background-color: #ffffff;
                        color: #000000;
                    }
                }
            }
    
            .phImage {
                display: inline;
                position: fixed;
                right: 0;
                bottom: 0;
            }
            }
        }    
        @media screen and (min-width: 1000px) {
            .body {
                .presentation {
                    .text {
                        .title {
                            font-size: 4rem;
                            font-weight: 700;
                            color: var(--dark-blue);
                            margin-bottom: 1rem;
                        }
            
                        .subtitle {
                            font-size: 1.5rem;
                            text-align: left;
                            width: 60%;
                        }
                    }
        
        
                    .button {
                        width: 10rem;
                        height: 3rem;
                        background-color: var(--dark-blue);
                        color: var(--off-white);
                        border: none;
                        border-radius: 0.5rem;
                        font-size: 1rem;
                        font-weight: 700;
                        cursor: pointer;
                        transition: 0.5s;
                        &:hover {
                            background-color: var(--blue);
                            color: var(--off-white);
                        }
                    }
                }
        
                .phImage {
                    z-index: -1;
                    right: 10%;
                }
                .circleImage {
                    z-index: -2;
                    display: inline;
                    position: fixed;
                    right: 0;
                    bottom: 0;
                }
            }
        }          
    }