
@keyframes animate-fade {
	0% {
			background-color: var(--blue);
	}
	100% { opacity: 1; }
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--dark-blue);
	animation-duration: 3s;
	animation-name: animate-fade;
	animation-fill-mode: backwards;

	.logo {
		@media (max-width: 700px) {
			width: 300px;
			height: 300px;
		}
	}
}

.loginButton {
	width: 310px;
	height: 85px;
	background-color: rgba(0, 0, 0, 0.16);
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	letter-spacing: 6px;

	@media (max-width: 700px) {
		width: 200px;
		height: 55px;
		letter-spacing: 4px;
	}
}